<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="example-container">

      </div>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Monstres</mat-card-title>
          <mat-card-subtitle>Gérer les monstres</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>


          <table class="table mat-elevation-z1">
            <thead class="thead-dark">
              <td>N°</td>
              <td>Nom</td>
              <td>HP</td>
              <td>Armure</td>
              <td>Mettre des dégats</td>
              <td *ngFor="let player of players | myfilter">Provocation {{player.name}}</td>
              <td>Annotation</td>
            </thead>
            <tbody>
              <tr *ngFor="let monster of monsters; let i = index" [attr.data-index]="i">
                <td>{{i+1}}</td>
                <td>{{ monster.name }}</td>
                <td>{{ monster.hp }}</td>
                <td>{{ monster.def }}</td>
                <td>
                  <mat-form-field>
                    <mat-label>Dégats (Négatif pour soigner)</mat-label>
                    <input matInput type="number" #damage>
                  </mat-form-field>
                  &nbsp;
                  <mat-checkbox #ignoreDef></mat-checkbox>
                  &nbsp;
                  <button mat-flat-button color="warn" (click)="damageMob(i, damage, ignoreDef.checked)">Infliger</button>
                </td>
                <td *ngFor="let player of players | myfilter">
                  <mat-checkbox  [checked]="monster.provocationPlayer == player.name" (change)="provoMob(i, $event.checked, player.name)"></mat-checkbox>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput type="text" #annotation (change)="annoteMob(i, annotation.value)">
                </mat-form-field>
                </td>
              </tr>
            </tbody>
          </table>


        </mat-card-content>
        <mat-card-actions>
          <form [formGroup]="addMobForm" (ngSubmit)="onSubmitMob(addMobForm.value)">
            <mat-form-field>
              <mat-label>Nom du monstre</mat-label>
              <input matInput type="text" formControlName="name">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Points de vie</mat-label>
              <input matInput type="number" formControlName="hp">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Armure</mat-label>
              <input matInput type="number" formControlName="def">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input matInput type="number" formControlName="number">
            </mat-form-field>
            <button mat-button type="submit">Ajouter</button>
          </form>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-md-4 col-sm-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Joueurs</mat-card-title>
          <mat-card-subtitle>Gérer les joueurs</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <table class="table mat-elevation-z1">
            <thead class="thead-dark">
              <td>N°</td>
              <td>Nom</td>
              <td>Mode provocation</td>
              <td>Annotation</td>
              <td>Supprimer</td>
            </thead>
            <tbody>
              <tr *ngFor="let player of players; let i = index" [attr.data-index]="i">
                <td>{{i+1}}</td>
                <td>{{ player.name }}</td>
                <td>
                  <mat-checkbox #check (change)="provoCheck(i, $event.checked)"></mat-checkbox>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput type="text" #annotation (change)="annotePlayer(i, annotation.value)">
                  </mat-form-field>
                </td>
                <td>
                  <button mat-icon-button (click)="removePlayer(i)"><mat-icon>delete</mat-icon></button>
                </td>

              </tr>
            </tbody>
          </table>
        </mat-card-content>
        <mat-card-actions>
          <form [formGroup]="addPlayerForm" (ngSubmit)="onSubmitPlayer(addPlayerForm.value)">
            <mat-form-field>
              <mat-label>Pseudo du joueur</mat-label>
              <input matInput type="text" formControlName="name">
            </mat-form-field>

            <button mat-button type="submit">Ajouter</button>
          </form>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button mat-raised-button color="primary" (click)="sendTable()">Envoyer le tableau</button>
    </div>
  </div>

</div>
